* {

    --content-width: 60%;
    --social-list-size: 1.75rem;

    --font-family-standard: "Computer Modern Serif";
    --font-family-italic: "Computer Modern Italic";
    --font-family-italic-bold: "Computer Modern Italic Bold";
    --font-family-bold: "Computer Modern Bold"   
}

@media only screen and (max-width: 1366px) {
   * {
    --content-width: 90%;
    --social-list-size: 4rem;
   } 
}

@font-face {
    font-family: "Computer Modern Serif";
    src: url(/assets/fonts/cmunrm-webfont.woff);
}

@font-face {
    font-family: "Computer Modern Italic";
    src: url(/assets/fonts/cmunsl-webfont.woff);
}

@font-face {
    font-family: "Computer Modern Italic-Bold";
    src: url(/assets/fonts/cmunbl-webfont.woff);
} 

@font-face {
    font-family: "Computer Modern Bold";
    src: url(/assets/fonts/cmunbx-webfont.woff);
} 

body::-webkit-scrollbar {
    width: 0.625rem;
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: rgba(190, 190, 190, 0.5);
    border-radius: 1rem;
  }
  
.container {
    width: 100vw;
    height: auto;

    background-image: none;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;

    height: auto;
}

.container .menu ul li a {
    text-decoration: none;
    color: #000000;
    margin: 2rem;

    font-family: "Computer Modern Bold";
    font-size: var(--menu-item-size);
}



.headline {
    width: var(--content-width);
    height: auto;
    margin: auto;

    padding-top: 2.5rem;
}

.headline h1 {
    font-family: var(--font-family-bold);
    font-size: 2.5rem;
}

.headline h3 {
    font-family: var(--font-family-italic);
    font-size: 0.8rem;
    text-indent: 1rem;
    color: rgb(83, 83, 83);
    padding-bottom: 2rem;

    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.headline a {
    height: 100rem;
}

.headline ul {
    padding-left: 0.25rem;
}

.headline video {
    width: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.title-img {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.5rem;

}
.social-list li {
    max-width: var(--social-list-size);
}

.date-contex {
    font-family: var(--font-family-italic);
    font-size: 1.2rem;
    padding-bottom: 1rem;
    text-indent: 1rem;
}

.content{
    width: var(--content-width);
    padding-bottom: 12rem;
    font-family: var(--font-family-standard);
    font-size: 1.3rem;
    font-weight: 500;
    margin: auto;
}

.content a {
    color: #30dbcd;
    text-underline-offset: 0.25rem;
    text-decoration-thickness: 0.125rem;
}

.content p {
    text-indent: 3rem;
    padding-top: 0.25rem;

}

p.italic {
    font-family: var(--font-family-italic);
}

p.italic-bold {
    font-family:  var(--font-family-italic);
    font-weight: 700;
}

p.block {
    text-indent: 0rem;
}

.content .code {
    font-size: 1.2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    text-indent: 0rem;

    padding-bottom: 1rem;
    padding-top: 1rem;
}

.content h2 {
    font-family: var(--font-family-italic);
    font-size: 1.7rem;
    font-weight: 900;
    padding-top: 2rem;
    text-decoration: underline;
}

