:root {
    margin: 0rem;
    padding: 0rem;
    --mobiledirection: row;
    --font-size: 3rem;
    --mobile-mutiplier: 1;

    --menu-item-size: 1.25rem;

    --main-menu-mobiled: 5vh;
    --main-header-mobiled: 95vh;

    --hide-for-desktop: hidden;
    overflow-x: hidden;

    --homepage-background-image:  url(/assets/homepage/carboardboxhomeedit.png);
    --font-color: black;
    --underline-color: black;
    --background-color: white;
    --dark-mode-icon: url(/assets/homepage/sun.png);
    --filter-value: none
}


@media only screen and (max-width: 1366px) {
    :root {
        margin: 0rem;
        padding: 0rem;
        --mobiledirection: column;
        --font-size: 5rem;
        --mobile-mutiplier: 1.25;

        --menu-item-size: 3rem;

        --hide-for-mobile: unset;
        --hide-for-desktop: hidden;
        --top-offset: 7rem;
    }
}

[data-theme="dark"] {
    --homepage-background-image:  url(/assets/homepage/carboardboxhomedarkedit.png);
    --font-color: white;
    --underline-color: white;
    --background-color: black;
    --dark-mode-icon: url(/assets/homepage/moon.png);
    --filter-value: 100;
    font-size: 18px;

}

.dark-mode-button {
    position: absolute; 
    right: 0; 
    top: var(--top-offset);
    padding: 1rem;
}

.dark-mode-button button {
    background-color: Transparent;
    border: none;
    cursor:pointer;

    width: calc(2rem*var(--mobile-mutiplier));
    height: calc(2rem*var(--mobile-mutiplier));

    background-image: var(--dark-mode-icon);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    filter: invert(var(--filter-value));
}

body {
    margin: 0rem;
    background-color: var(--background-color);
}

.container {
    width: 100vw;
    height: 100vh;

    background-image: var(--homepage-background-image);

    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;


    height: 100vh;
}

.content {
    height: 100%;

    margin: auto;

    display: flex;
    text-align: left;

    align-items: center;
    justify-content: left;
    

    flex-direction: column;
}

.header-content {
    margin: auto;
}


.header-content a {
    font-size: 2rem;
    color: var(--font-color);
    text-decoration: underline;

    font-family: 'Open Sans', sans-serif;
    font-size: calc(var(--menu-item-size*1.25));
}

.container .menu {
    height: var(--main-menu-mobiled);
    visibility: var(--hide-for-mobile);

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 1rem;
}

.container .menu ul {
    list-style: none;
    display: flex;
    /* flex-direction: var(--mobiledirection);  */
    flex-wrap: nowrap;
}

.container .menu ul li {
    margin: 0.25rem;
}

.container .menu ul li a {
    text-decoration: none;
    color: var(--font-color);
    margin: 2rem;

    font-family: 'Open Sans', sans-serif;
    font-size: var(--menu-item-size);
}

.menu-button {
    visibility: var(--hide-for-desktop);

    position: absolute;

    padding-top: 3rem;

    background-image: url(/assets/buttons/Button.png);
   
    height: 10vh;
    width: 100vw;
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
}

.menu-button-closeout {
    visibility: var(--hide-for-desktop);
    
    position: absolute;
    padding-top: 5vh;
    top: 0;

    background-image: url(/assets/buttons/Closeout.png);
   


    height: 10vh;
    width: 10vw;
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;

    filter: brightness(7.5);
}

.mobile-menu {
    visibility: var(--hide-for-desktop);
    position: absolute;
    direction: rtl;
    background-color: rgb(61, 61, 61);
    opacity: 95%;
    right: 0;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 75vw;
}

.mobile-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column; 
    flex-wrap: nowrap;
}

.mobile-menu ul li {
    margin: 3.5rem;
}

.mobile-menu ul li a {
    text-decoration: none;
    color: var(--font-color);
    margin: 2rem 0 2rem 0;

    font-family: 'Open Sans', sans-serif;
    font-size: calc(var(--menu-item-size)*1.75);
}

.header-content h1 { 
    margin: 0 0 5rem 0;
    color:var(--font-color);
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: var(--font-size);
}

.blog-table {
    padding: 2rem 4rem 0 4rem;
}

.blog-table h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: calc(var(--font-size)*.75);
    padding: 0 0 2rem 0;
}

.blog-table .year p {
    text-decoration: none;
    color:var(--font-color);
    margin: 0.25rem;

    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    font-size: var(--menu-item-size);
}

.blog-table .month p {
    text-decoration: none;
    color: var(--font-color);
    margin: 0.25rem;

    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    font-size: calc(var(--menu-item-size)*.90);
}

.blog-table ul {
    list-style: none;
    display: flex;
    flex-direction: column; 
    flex-wrap: nowrap;
}

.blog-table ul li {
    text-decoration: none;
    color: var(--font-color);
    padding: 0 0 .25rem 0;

    font-family: 'Open Sans', sans-serif;
    font-size: calc(var(--menu-item-size)*.75);
}

.blog-table ul li a {
    text-decoration: none;
    border-bottom: 1px solid var(--underline-color);
    color: var(--font-color);
    margin: .5rem;

    font-family: 'Open Sans', sans-serif;
    font-size: calc(var(--menu-item-size)*.85);
}



